# Processing of the Palmes tubes results from Buro Blauw

In [1]:
%matplotlib notebook

C:\Anaconda\envs\geo\lib\site-packages\IPython\kernel\__init__.py:13: ShimWarning: The `IPython.kernel` package has been deprecated. You should import from ipykernel or jupyter_client instead.
  "You should import from ipykernel or jupyter_client instead.", ShimWarning)

In [2]:
import pandas as pd

### Data

Linking SetId with TubeIds:

In [4]:
people = pd.read_csv("../01-data/raw/people.csv", sep=';')

In [5]:
sett = pd.read_csv("../01-data/raw/sett.csv", sep=';')

In [6]:
tubes = sett.set_index('Id')[['Buis1', 'Buis2', 'Buis3']].stack().reset_index()

In [7]:
tubes = tubes.rename(columns={0:'TubeId', 'Id':'SetId'}).drop(['level_1'], axis=1)

In [8]:
tubes.head()

   SetId  TubeId
0      1       1
1      1       2
2      2       3
3      2       4
4      3       5

The results from Buro Blauw:

In [15]:
results = pd.read_csv("resultaten.csv")

## Processing

In [16]:
results = pd.merge(tubes, results)

In [17]:
results.head()

   SetId  TubeId        no2
0      1       1  54.192610
1      1       2  55.081503
2      2       3  40.661136
3      2       4  37.028304
4      3       5  17.135640

In [18]:
len(results)

3912

In [31]:
def span(group):
    return group.max() - group.min()

In [34]:
result_setid = results.groupby('SetId')['no2'].agg(['mean', span])

In [36]:
result_setid = pd.merge(result_setid.reset_index(), people[['SetId', 'Lat', 'Lon']], on='SetId')

In [38]:
result_setid.head()

   SetId       mean      span        Lat       Lon
0      1  54.637056  0.888894  51.193319  4.463377
1      2  38.844720  3.632833  51.205845  4.407636
2      3  17.600972  0.930665  51.220553  4.413698
3      4  45.431083  0.342342  51.213435  4.393113
4      5  29.334421  7.797653  51.201084  4.446258

In [40]:
result_setid.to_csv("../01-data/processed/curieuzeneuzen-results.csv", index=False)